:root {
  --imgHeight: 200px;
  --translateContentBx: -195px;
}

h1{
  text-align: center;
}
.span {
  color: blue;
  font-size: 14px;
  position: relative;
  top: -20px;
}

.button {
  padding: 8px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(0,0,0, .5);
  margin-bottom: 60px
}

.TimeOnline 
{
  position: fixed;
  right: 10px;
  bottom: 0;
  padding: 20px;
  background: white;
  z-index: 999;
  box-shadow: 0px 10px 10px 5px rgb(0,0,0, .8)
}
.TimeOnline p{
  color: black;
}
.TimeOnline h3{
  font-size: 15px
}

.content {
  display: flex;
  flex-wrap: wrap;
    /*justify-content: space-between;*/
}

.container {
  width: 285px;
  margin-left: 3%
}

.container .card {
  height: 42vh
}

.container .imgBx {
  width: 100%;
  height: var(--imgHeight)
}

.container .card .contentBx h2 {
  color: blue
}
.container .card .contentBx {
  display: none;
  text-align: center;
}

.container .card:hover .contentBx {
  display: block;
  transform: translateY(var(--translateContentBx));
}
.container .card:hover .imgBx {
  opacity: .3;
  transition: .4S;
  filter: blur(7px);
}